/* Mobile-first deault code starts*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: #3D4856;
    font-size: 24px;
}

html {
    scroll-behavior: smooth;
}

.skip-link {
    background: #3D4856;
    color: #fff;
    font-weight: 700;
    left: 50%;
    padding: 4px;
    position: absolute;
    transform: translateY(-100%);
}

.skip-link:focus {
    transform: translateY(0%);
    z-index: -1;
}

h1 {
    margin: 16px 0;
    line-height: 4rem;
    font-weight: 300;
    font-size: 48px;
    color: teal;
}

h2 {
    line-height: 2rem;
    font-size: 28px;
    font-weight: 350;
    background-color: aquamarine;
    padding: 5px;
}

p {
    margin: 12px 0;
}

figure {
    height: 100%;
    width: auto;
    margin: 5%;
}

figcaption {
    text-align: center;
    padding-top: 2%;
    background-color: #FFFFF0;
}

header {
    line-height: 80px;
}

/* Navigation Bar styling */
nav ul {
    list-style: none;
}

nav ul li a {
    font-size: 24px;
    font-weight: 400;
    color: #FFFF;
}

a {
    text-decoration: none;
}

.logo {
    height: 60px;
    width: auto;
}

a.burgermenu {
    color: teal;
    display: block;
    font-size: 40px;
}

nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    position: static
}

nav ul li {
    display: block;
    padding: 0 20px;
}

/* Navigation Bar styling*/

.homeEnvImage img {
    transform: scaleX(-1);
}

aside,
main {
    padding: 64px;
}

.pullquote,
.contactLink {
    margin-top: 64px;
}

/* Mobile view grid */
.pageGridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto auto 80px;
}

header,
aside,
main,
footer {
    grid-column: span 1;
}

/* Mobile view grid */

.navbar_Item_active:focus {
    background: teal;
    color: white;
}

.quoteMarks {
    font-family: 'Times New Roman', Times, serif;
    color: teal;
    font-size: 60px;
}

.pullquote {
    font-size: 28px;
    font-weight: 400;
    border: 0.75px #3D4856 solid;
    box-sizing: content-box;
    padding: 30px 50px;
    display: flex;
    height: 400px;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
}

.quoteLines p {
    display: block;
    align-content: center;
    animation: rotateLines 10s infinite;
}

.quoteLines {
    overflow: hidden;
}

@keyframes rotateLines {
    0% {
        transform: translateY(0%);
    }

    30% {
        transform: translateY(0%);
    }

    60% {
        transform: translateY(-150%);
    }

    80% {
        transform: translateY(-350%);
    }

    100% {
        transform: translateY(0%);
    }
}

aside {
    background-color: #FFFFF0;
}

.contactLink a {
    color: #3D4856;
}

.LearnMore {
    background-color: teal;
    border-radius: 50px;
    color: #fff;
    padding: 12px 50px;
}

footer {
    background-color: #3D4856;
    color: white;
    padding: 20px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
}

.aboutImg {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.aboutMainWrapper {
    margin-top: 0px;
}

.portfolioBrief {
    margin: 64px 0;
}

/* Form styling */
.contactTitle,
.social {
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    opacity: 1;
    transition: all 2s ease-in-out;
}

.contactTitle h1 {
    font-size: 24px;
    font-weight: 350;
    line-height: 3;
    width: 100%;
    border-bottom: 1.3px solid aquamarine;
}

form {
    margin-top: 50px;
    transition: all 2s ease-in-out;

}

.formControl {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #3D4856;
    color: #3d4856a0;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: 300;
}

form label {
    font-size: 20px;
    font-weight: 400;
    color: #3D4856;
}

input {
    height: 32px;
}

#my-form-button {
    color: #FFF;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
    height: 48px;
    margin: 20px;
    padding: 5px 15px;
    text-align: center;
    border: none;
    transition: all 0.5s ease-in-out;
    background-color: teal;
    width: fit-content;
}

.social ul {
    list-style: none;
    display: inline-flex;
    text-align: center;
    justify-items: center;
    justify-content: center;
    row-gap: 70px;
}

.social ul li img {
    width: 60px;
    margin: 30px;
}

/* Form styling */

/* Leisure Page default styling */
.leisure_gallery_image {
    height: auto;
    width: 300px;
    overflow: hidden;
    margin: 2%;
    padding: 0.5%;
    opacity: 0.85;
}

.leisure_gallery_image:hover {
    transform: scale(1.2);
    overflow: hidden;
    opacity: 1;
    padding: 1%;
    border: 1.5px solid teal;
}

.photo_hiking {
    border: 1px dashed #3D4856;
}

.photo_game {
    border: 1px dashed #CEA746;
}

.photo_dogs {
    border: 1px dashed maroon;
}

.photo_origami {
    border: 1px dashed mediumspringgreen;
}

.gallery_item {
    margin: 3%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.activity_flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.gallery_item figcaption {
    width: 300px;
}

/* Leisure page default Styling */


/* Work page default styling */
.projects {
    border: 0.5px solid #3D4856;
    padding: 10px;
}

.projects img {
    margin-bottom: 30px;
}

.projectTitles {
    height: 100px;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    margin-bottom: 30px;
}

ol h2 {
    background-color: transparent;
    font-size: 24px;
    font-weight: 400;
}

ol {
    list-style-type: style;
    list-style: decimal;
}

/* Work page default styliling */

/* Mobile-first deault code ends*/


/* Mobile breakpoint specific for nav bar*/
@media screen and (max-width: 739px) {
    nav ul {
        display: none;
        width: 40vh;
        background-color: teal;
        opacity: 0.9;
        position: absolute;
        top: 80px;
        right: 0;
        height: fit-content;
        text-align: center;
        box-shadow: -2px 2px 20px 2px #3D4856;
    }
}

/* Mobile breakpoint specific for nav bar*/

/* Desktop breakpoint  */
@media screen and (min-width: 899px) {

    .pageGridContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 80px auto 80px;
    }

    .projectContainer {
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 2;
        column-gap: 20px;
        row-gap: 50px;
    }

    .project1 {
        grid-column: 1/span 1;
        grid-row: span 1;
    }

    .project2 {
        grid-column: 2/span 1;
        grid-row: span 1;
    }

    .project3 {
        grid-column: 1/span 1;
        grid-row: span 2;
    }

    header {
        grid-column: span 3;
    }

    main {
        grid-column: span 2;
        padding: 40px;
    }

    aside {
        grid-column: span 1;
        background-color: #FFFFF0;
    }

    footer {
        grid-column: span 3;
    }

    .navbar_Item_active:hover {
        border: 0.05em teal solid;
    }


}

/*Desktop breakpoint*/


/* Tablet breakpoint */
@media screen and (min-width: 740px) and (max-width: 898px) {

    .pageGridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 80px auto 80px;

    }

    header {
        grid-column: span 2;
    }

    aside {
        grid-column: span 1;
        background-color: #FFFFF0;
    }

    main {
        grid-column: span 1;
    }

    footer {
        grid-column: span 2;
    }

    .projectContainer {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 50px;
    }

    .project1 {
        grid-row: span 1;
    }

    .project2 {
        grid-row: 2/ span 1;
    }

    .project3 {
        grid-row: 3/ span 1;
    }
}

/* Tablet breakpoint */


/* Common code for both tablet and desktop - navbar*/
@media screen and (min-width: 740px) {
    .activity_flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    nav {
        position: sticky;
    }

    a.burgermenu {
        display: none;
    }

    nav ul li {
        display: inline;

    }

    nav ul li a {
        font-size: 24px;
        color: teal;
        border-radius: 50px;
        padding: 15px 10px;
    }

    nav ul {
        display: block;
    }

    .navbar_Item_active.activated {
        background-color: teal;
        color: white;
    }
}

/* Common code for both tablet and desktop - navbar*/

/* reduced motion media query */
@media (prefers-reduced-motion: reduce) {
    .html {
      animation: none;
      scroll-behavior: auto;
    }
  }
/* reduced motion media query */